<html>
<style>

    .inc-btn2 {
      margin-top: 40px;
      font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
      font-size: 1.06rem;
      color: #FFF;
      border-radius: 0.25rem;
      border: 2px solid #005ea2;
      background-color: #005ea2;
      padding: 0.75rem 1.25rem;
      text-decoration: none;
    }

    .pad {
      margin: 80px;
    }

</style>
  <body>
    <div class="pad"><a href="/auth/login" class="inc-btn2">Verify / Login</a></div>
  </body>
</html>
